#service-banner{
    background: url("/images/covers/service.jpg") no-repeat;
    background-size: cover;
    object-fit: contain;
    background-position: bottom;
    height: 100vh;
 }

 .gear-icon
 {
    opacity: 0.5;
    /* height: 100vh;
    background-position: center;
    padding: 0;
    background-image: url("/images/gear-icon.png");
    opacity: 0.4;
    background-repeat: no-repeat; */
 }